.*
!/.gitignore
secrets/*
regs/*
puppeteer/package-lock.json
puppeteer/node_modules/*
ansible/inventory/*
logs_and_pid/*
screencaps/*
terraform/states/*
tmux_starter.sh
ansible/playbook-exp.yml
start-exp.sh
ansible/stuff/record-exp.sh
rotate_logs.sh
